#viewContent > strong
{
    @apply font-bold;
}

#viewContent h1, #viewContent h2, #viewContent h3, #viewContent h4, #viewContent h5, #viewContent h6
{
    @apply mt-1;
    @apply font-bold;
}

#viewContent pre
{
    @apply mt-1;
    @apply mb-1;
    @apply p-4;
    @apply m-1;
    @apply bg-cyan-800/80;
    @apply rounded-sm;
    @apply inline-block;
    @apply break-all;
}

#viewContent code
{
    @apply p-1;
    @apply m-1;
    @apply bg-cyan-800/80;
    @apply rounded-sm;
    @apply inline-block;
    @apply break-all;
}

#viewContent pre > code
{
    @apply !p-0;
    @apply !m-0;
    @apply !bg-none;
    @apply !bg-transparent;
    @apply !rounded-none;
    @apply !whitespace-pre-line;
}

#viewContent h1
{
    @apply text-3xl;
}

#viewContent h2
{
    @apply text-2xl;
}

#viewContent h3
{
    @apply text-xl;
}

#viewContent h4
{
    @apply text-lg;
}

#viewContent ul, #viewContent ol
{
    padding: revert;
    margin: revert;
}

#viewContent ul
{
    @apply list-disc;
}

#viewContent ol
{
    @apply list-decimal;
}

#viewContent p
{
    @apply mb-5;
}

#viewContent a:not(.modDownload)
{
    @apply underline;
}

.mod-download-item {
    word-break: break-all;
    @apply bg-cyan-500/50;
    @apply hover:bg-cyan-600/50;
    @apply rounded;
    @apply p-4;
    @apply !no-underline;
}