@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes menu-left-to-right {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes menu-right-to-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

@keyframes fade-out-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@layer base {
    /* Main */
    main {
        @apply flex;
        @apply min-h-screen;
        @apply flex-col;
        @apply pb-20;
        @apply text-gray-200;
    }

    p {
        @apply leading-7;
        @apply pb-2;

        & a {
            @apply text-cyan-300;

            &:link, :active {
                @apply text-cyan-300;
            }

            &:hover {
                @apply text-cyan-200;
            }
        }
    }

    a {
        @apply text-gray-50;
    }

    a:hover {
        @apply text-blue-300;
    }
    
    header {
        & > nav > * {
            @apply p-2;
            @apply h-full;
        }
    }

    hr {
        @apply border-t-2;
        @apply border-cyan-900;
    }

    h1, h2, h3, h4, h5 {
        @apply font-bold;
        @apply text-white;
        @apply leading-10;
    }
    
    h1 {
        @apply text-4xl;
    }
    
    h2 {
        @apply text-3xl;
    }
    
    h3 {
        @apply text-2xl;
    }
    
    h4 {
        @apply text-xl;
    }
    
    h5 {
        @apply text-lg;
    }

    label {
        @apply text-2xl;
        @apply font-bold;
        @apply text-white;
        @apply block;
    }

    input:not([type="checkbox"]), select, textarea {
        @apply bg-bestmods-1/80;
        @apply focus:ring-2;
        @apply focus:ring-bestmods-2/80;
        @apply text-gray-50;
        @apply rounded;
        @apply p-2;
        @apply w-full;
    }

    /* Scroll Bar */
    ::-webkit-scrollbar
    {
        @apply w-2;
    }
     
    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        @apply rounded-lg;
        @apply bg-black/60;
    }
     
    ::-webkit-scrollbar-thumb
    {
        @apply rounded-lg;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        @apply bg-cyan-700;
    }
}

@layer components {
    @import "components/markdown.css";
}

@layer utilities {
    @import "utils/buttons.css";
    @import "utils/inputs.css";
}